<div class="ConfigurationPanel ui form">
  
  <div class="controllers">
    <div class="field">
      <label for="title">
        {{ $t('Title') }}
      </label>
      <textarea id="title" 
        v-model="db.localConfig.title"></textarea>
    </div>

    <div class="field">
      <label for="titleFont">
        {{ $t('Title Font') }}
      </label>
      <input type="text" id="titleFont" 
        v-model="db.localConfig.titleFont" />
    </div>

    <div class="field">
      <label for="tags">
        {{ $t('Tags') }}
      </label>
      <textarea id="tags" 
        v-model="db.localConfig.tags"
        onfocus="this.select()"></textarea>
    </div>

    <div class="field">
      <label for="tagFont">
        {{ $t('Tag Font') }}
      </label>
      <input type="text" id="tagFont" 
        v-model="db.localConfig.tagFont" />
    </div>

    <div class="field">
      <label for="tagPosition">
        {{ $t('Tag Position') }}
      </label>
      <select v-model="db.localConfig.tagPosition"
        id="tagPosition">
        <option v-for="item in tagPositionList"
          :value="item">
          {{ tagPositionListIcon[item] }}
          {{ $t(item) }}
        </option>
      </select>
    </div>

    <div class="field">
      <label for="backgroundImage">
        {{ $t('Background Image') }}
      </label>
      <input type="url" id="backgroundImage" 
        v-model="db.localConfig.backgroundImage" />
    </div>

    <div class="field">
      <label for="coverBackgroundPosition">
        {{ $t('Bakcground Position') }}: {{ Math.round(Number(db.localConfig.coverBackgroundPosition)* 100)  }}%
      </label>
      <input type="range" min="0" max="1" step="0.1" 
        id="coverBackgroundPosition"
        v-model="db.localConfig.coverBackgroundPosition" /> 
      <div class="ui fluid buttons">
        <button type="button"
          v-for="position in positionList"
          class="ui button"
          :class="{'positive disabled': Number(db.localConfig.coverBackgroundPosition) === position}"
          @click="db.localConfig.coverBackgroundPosition = position">{{ position * 100 }}%</button>
      </div>
    </div>

    <div class="field">
      <label for="coverBackgroundColor">
        {{ $t('Image Background Color') }}
      </label>
      <input type="text" id="coverBackgroundColor" 
        v-model="db.localConfig.coverBackgroundColor" />
    </div>

    <div class="field">
      <label for="canvasSize">
        {{ $t('Canvas Size') }}
      </label>
      <input type="number" id="canvasSize" 
        v-model="db.localConfig.canvasSize" />
    </div>

    <div class="field"
      v-show="db.localConfig.previewDebug">
      <label for="debugZoom">
        {{ $t('Zoom') }}: {{ Math.round(Number(db.localConfig.debugZoom)* 100)  }}%
      </label>
      <input type="range" min="0.2" max="2" step="0.1" 
        id="debugZoom"
        v-model="db.localConfig.debugZoom" /> 
      <div class="ui fluid buttons">
        <button type="button"
          v-for="scale in scaleList"
          class="ui button"
          :class="{'positive disabled': Number(db.localConfig.debugZoom) === scale}"
          @click="db.localConfig.debugZoom = scale">{{ scale * 100 }}%</button>
      </div>
    </div>

    <div class="field">
      <div class="ui fluid buttons">
        <button type="button"
          class="ui button"
          :class="{'positive': db.config.onlyImage}"
          @click="db.config.onlyImage = !db.config.onlyImage">{{ $t('Only Image') }}</button>
      </div>
    </div>

    <div class="field"
      v-if="db.config.onlyImage">
      <label for="imageVertialAligen">
        {{ $t('Image Vertial Align') }}
      </label>
      <select v-model="db.localConfig.onlyImageVerticalAlign"
        id="imageVertialAligen">
        <option v-for="item in onlyImageVerticalAlignList"
          :value="item">
          {{ onlyImageVerticalAlignListIcon[item] }}
          {{ $t(item) }}
        </option>
      </select>
    </div>

    <div class="field"
      v-if="db.config.onlyImage">
      <label for="imageDirection">
        {{ $t('Image Direction') }}
      </label>
      <select v-model="db.localConfig.onlyImageDirection"
        id="imageDirection">
        <option v-for="item in onlyImageDirectionList"
          :value="item">
          {{ onlyImageDirectionListIcon[item] }}
          {{ $t(item) }}
        </option>
      </select>
    </div>

    <div class="field"
      v-for="tool in Object.keys(tools)">
      <a :href="computedPixabayURL"
        v-if="tool === 'Pixabay'"
        target="_blank"
        class="ui fluid button"
        @click.prevent.stop="popup(computedPixabayURL)">
        <i class="image icon"></i>
        {{ $t(tool) }}
      </a>
      <a :href="computedGooglePictureURL"
        v-else-if="tool === 'Google Picture'"
        target="_blank"
        class="ui fluid button"
        @click.prevent.stop="popup(computedGooglePictureURL)">
        <i class="image icon"></i>
        {{ $t(tool) }}
      </a>
      <a :href="tools[tool]"
        v-else
        target="_blank"
        class="ui fluid button"
        @click.prevent.stop="popup(tools[tool])">
        {{ $t(tool) }}
      </a>
    </div>

  </div>


  <!-- ============================ -->

  <div class="save">
    <div class="fields">
      <div class="field">
        <button type="button"
          class="ui fluid labeled icon button"
          :class="{'negative': db.localConfig.previewDebug}"
          @click="db.localConfig.previewDebug = !db.localConfig.previewDebug">
          <i class="icon"
            :class="{'bug': db.localConfig.previewDebug, 'eye': !db.localConfig.previewDebug }" />
          {{ $t('Debug') }}
        </button>
      </div>
      <div class="field">
        <button type="button"
          class="ui fluid labeled icon button"
          :class="{disabled: db.localConfig.previewDebug, positive: !db.localConfig.previewDebug}"
          @click="save">
          <i class="save icon" />
          {{ $t('Save') }}
        </button>
      </div>
    </div>
  </div>
    

</div>