<div class="Index"
  v-show="db.config.inited"
  @paste="onPaste">

  <DataManager 
    ref="DataManager"
    :db="db">
  </DataManager>

  <DropZone 
    ref="DropZone"
    :db="db"
    @onDropString="onDropString"
    @onDropFiles="onDropFiles">
  </DropZone>

  <div class="row">
    <div class="column configuration-column">
      <PanelConfiguration 
        ref="PanelConfiguration"
        :db="db">
      </PanelConfiguration>
    </div>
    <div class="column preview-column">
      <PanelPreview 
        ref="PanelPreview"
        :db="db">
      </PanelPreview>
    </div>
  </div>
</div>